*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: indigo;
}

body.correct {
    background-color: royalblue;
}

body.incorrect {
    background-color: orangered;
}

#header {
    color: indigo;
}

.card-container {
    width: 800px;
    max-width: 80%;
    background-color: ivory;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px;
    padding: 30px;
    text-align: center;
}

.correct-sign {
    text-align: right;
    font-weight: bold;
    color: royalblue;
}

.incorrect-sign {
    text-align: right;
    font-weight: bold;
    color: orangered;
}

.timer-style {
    display: inline-flex;
    font-weight: bold;
    font-size: 40px;
    height: 60px;
    margin: 0;
    color: indigo;
}

.question-style {
    color: slategrey;
    font-size: 18px;
    text-align: left;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: slateblue;
    border-radius: 8px;
    padding: 10px;
    color: white;
    border-width: small;
    font-size: large;
}

.btn:hover {
    border-color: indigo;
}

.btn.correct {
    background-color: royalblue;
}

.btn.incorrect {
    background-color: orangered;
}

.start-button {
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
}

.next-button {
    background-color: slateblue;
}

.hide {
    display: none;
}